<!DOCTYPE html>
<html>
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js"></script>
<script src="/js/lifts.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
	<script type="text/ng-template" id="modal.html">
		<div class="modal-header">
			<h3 class="modal-title">
				Lift
				<div class="btn-group pull-right">
					<button class="btn btn-primary" ng-click="ok()">Ok</button>
					<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
				</div>
			</h3>
		</div>
		<div class="modal-body">
			<form role="form">
				<div class="form-group">
					<label>name</label> <input type="text" class="form-control"
						ng-model="lift.name">
				</div>
				<div class="form-group">
					<label>altname</label> <input type="text" class="form-control"
						ng-model="lift.altname">
				</div>
				<div class="form-group">
					<label>description</label> <input type="text" class="form-control"
						ng-model="lift.description">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<div class="btn-group pull-right">
				<button class="btn btn-primary" ng-click="ok()">Ok</button>
				<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="">Lifts</a>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<p class="navbar-btn">
						<a href="" class="btn btn-default" ng-click="post()">Add Lift</a>
					</p>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="pull-right">
					<p class="navbar-btn">
						<a href="" class="btn btn-info" ng-bind="status"></a>
					</p>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col-sm-2">name</th>
					<th class="col-sm-2">altname</th>
					<th class="col-sm-6">description</th>
					<th class="col-sm-1">Edit</th>
					<th class="col-sm-1">Delete</th>
				</tr>
			</thead>
			<tr ng-repeat="x in lifts">
				<td>{{ x.name}}</td>
				<td>{{ x.altname }}</td>
				<td>{{ x.description }}</td>
				<td>
					<button type="button" class="btn btn-info" ng-click="put(x)">Edit</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger"
						ng-click="delete(x.name)">Delete</button>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>