<head>
    <meta charset="UTF-8">
    <title>Liftmo - Sign Up</title>
</head>
<div class="container">
    <div class="jumbotron">
        <h2>Liftmo. </h2>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>Liftmo is a ...</p>
            <p>Have you ever ...</p>
        </div>
        <div class="col-sm-4">
            <h3>Sign Up</h3>
            <h4>It's free and always will be</h4>
            <form novalidate class="simple-form">
                <input type="email" size="30" ng-model="signup.email" placeholder="Email"/><br /><br/>
                <input type="password" size="30" ng-model="signup.password" placeholder="Password"/><br /><br/>
                <input class="btn btn-primary" type="submit" ng-click="signUp()" value="Sign Up" />
            </form>
        </div>
    </div>
</div>
